{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
    <section class="landing">
      <div class="dark-overlay">
        <div class="landing-inner">
          <h1 class="x-large">Developer Connector</h1>
          <p class="lead">
            Create developer profile/portfolio, share posts and get help from
            other developers
          </p>
          <div class="buttons">
            <a href="{% url 'register' %}" class="btn btn-primary">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn">Login</a>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}
