{% extends "base.html" %}
{% load static %}
{% block content %}
    {% include 'navbar.html' %}
    {% include 'messages.html' %}
    <section class="container">
        <h1 class="large text-primary">Posts</h1>
        <p class="lead">
            <i class="fas fa-user"></i> Welcome to the community
        </p>
        <div class="post-form">
            <div class="post-form-header bg-primary">
                <h3>Say Something...</h3>
            </div>
            <form class="form my-1" method="post">
                {% csrf_token %}
                {{ form }}
                <!-- <input type="text" name="title" id="">
                <br>
                <textarea name="body" cols="30" rows="5" placeholder="Create a post"></textarea> -->
                <input type="submit" value="Submit" class="btn btn-dark my-1" />
            </form>
            <div class="posts">
                {% for post in posts %}
                    <div class="post bg-white my-1 p-1">
                        <div>
                            <a href="{{ post.author.get_absolute_url }}">
                                <img class="round-img"
                                     src="{{ post.author.picture.url }}"
                                     alt=""/>
                                <h4>{{post.author.get_full_name}}</h4>
                            </a>
                        </div>
                        <div>
                            <h3>{{ post.title }}</h3>
                            <p class="my-1">{{ post.body }}</p>
                            <h5>{{ post.date }}</h5>
                            <button class="btn">
                                <i class="fas fa-thumbs-up"></i>
                                <span>{{ post.likes.count }}</span>
                            </button>
                            <button class="btn">
                                <i class="fas fa-thumbs-down">
                                    {{ post.dislikes.count }}</i>
                                </i>
                            </button>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Discussion</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
