{% if messages %}
    {% for message in messages %}
        {% if message.tags == "info" %}
            <div class="alert alert-primary">{{ message|safe }}</div>
        {% elif message.tags == "success" %}
            <div class="alert alert-success">{{ message|safe }}</div>
        {% elif message.tags == "error" %}
            <div class="alert alert-error">{{ message|safe }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
{% comment %} .alert.alert-primary info
.alert.alert-success success
.alert.alert-danger  error

Level Constant	Tag
DEBUG	debug
INFO	info
SUCCESS	success
WARNING	warning
ERROR	error {% endcomment %}
